body{
    background-color: #F3E2A9;
}

h1{
  color:orange;
  block-size:570px;
  font-size: 200px;
  font-family:Courier;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 10px;
  background: url(DOGS/millie2.jpg)
  no-repeat center center fixed;
  -webkit-background-size:
  cover;
  -moz-background-size:
  cover;
  -o-background-size:
  cover;
  background-size:
  cover;
}
p{
  color:black;
  font-size: 20px;
  text-align:center;
  padding-left: 150px;
  padding-right: 150px;
}

h2{
  font-size: 50px;
  color:orange;
  text-align: center;
  font-family: courier;
}
nav{
  text-align: left;
  color: 	white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Courier;
  display:flex;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  max-width: 50em;
}

nav li{
  margin: 0 50px;
}

a.navlink{
  background-color: #a1e66c;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
a.navlink:visited{
  color: white;
}
a.navlink:hover{
  color: black;
}
footer{
  margin-top: 200px;
  color:black;
  font-size: 20px;
  text-align:left;
}
a.reglink{
  color: black;
  text-decoration: underline;
}
a.reglink:hover{
  color:#a1e66c;
}
img{
  height: 30px;
  width: 30px;
}
