body{
    background-color: #F3E2A9;
}

h1{
  color:orange;
  block-size:570px;
  font-size: 200px;
  font-family:Courier;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 10px;
  background: url(DOGS/millie.jpg)
  no-repeat center center fixed;
  -webkit-background-size:
  cover;
  -moz-background-size:
  cover;
  -o-background-size:
  cover;
  background-size:
  cover;
}
h2{
  color:black;
  font-family: courier;
  font-size: 25px;
  text-align: center;
}
h3{
  color:black;
  font-family: courier;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  font-weight: normal;
}
nav{
  text-align: left;
  color: 	white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Courier;
  display:flex;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  max-width: 50em;
}

nav li{
  margin: 0 50px;
}

a.navlink{
  background-color: #a1e66c;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
a.navlink:visited{
  color: white;
}
a.navlink:hover{
  color: black;
}
p{
  color:black;
  font-size: 20px;
  text-align: center;
}
img.paw{
    height: 30px;
    width: 30px;
}
