body{
  background-color: #F3E2A9;
}

h1{
  color:orange;
  block-size:570px;
  font-size: 200px;
  font-family:Courier;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 10px;
  background: url(DOGS/mugsy2.png)
  no-repeat center center fixed;
  -webkit-background-size:
  cover;
  -moz-background-size:
  cover;
  -o-background-size:
  cover;
  background-size:
  cover;
}
nav{
  text-align: left;
  color: 	white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Courier;
  display:flex;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  max-width: 50em;
}

nav li{
  margin: 0 50px;
}

a{
  background-color: #a1e66c;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
a:visited{
  color: white;
}
a:hover{
  color: black;
}
p{
  padding: 80px;
  color:black;
  font-size: 30px;
  font-family:Courier;
  text-align:center;
}
