h1{
  text-align: center;
  block-size:570px;
  color:orange;
  font-size: 200px;
  font-family:Courier;
  margin-top:0px;
  margin-bottom:20px;
}
h2{
  text-align: left;
  color: 	white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Courier;
}
a:link{

  background-color: #a1e66c;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  display: inline-block;

}
a:visited{
  color: white;
}
a:hover{
  color: black;
}

.header{
background: url(DOGS/winnie.jpg)
no-repeat center center fixed;
-webkit-background-size:
cover;
-moz-background-size:
cover;
-o-background-size:
cover;
background-size:
cover;
}

.container{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 150px;
  grid-template-rows: repeat(3, minmax(100px, max-content));
  grid-gap: 10px;
}
